img[alt=Solution] { width: 400px; }
img[alt=Assign\ Interfaces] { width: 400px;  }
img[alt=WAN] { width: 400px; }
img[alt=LAN] { width: 400px; }
img[alt=DHCP] { width: 400px; }
img[alt=IP_LAN] { width: 400px; }
img[alt=IP_PRIV] { width: 400px; }
img[alt=Routing_IGW] { width: 400px; }
img[alt=WAN_IGW] { width: 400px; }
img[alt=LAN_IGW] { width: 400px; }
img[alt=Routing_AV1] { width: 400px; }
img[alt=Firewall_AV1] { width: 400px; }
img[alt=Firewall_AV1-PRIV] { width: 400px; }
img[alt=DNS_IGW] { width: 400px; }
img[alt=DNS_AV1] { width: 400px; }

